nav {
    display: flex;
    width: 87.4%;
    justify-content: space-between;

    ul {
        list-style: none;

        &.menu {
            display: inline-flex;
            align-items: center;
            margin-left: 35px;

            li {
                &:first-child {
                    color: #e00;
                }
            }
        }

        &.user-actions {
            display: inline-flex;
            padding: 0 0 0 18px;

            li {
                display: inline-flex;
                align-items: center;
                margin-right: 0;
            }
        }

        li.account {
            margin-right: 15px;
            &:after {
                content: '';
                display: inline-block;
                height: 35px;
                width: 35px;
                background: url('../assets/account.svg') no-repeat;
                background-size: cover;
                margin-left: 10px;
            }
        }

        li.search {
            width: 60px;
            height: 60px;
            background: url('../assets/search.svg') no-repeat center;
            background-size: 60%;
        }

        .cart {
            position: relative;
            width: 130px;
            background-color: #000;
            padding-right: 15px;
            color: #fff;

            &:before {
                content: '';
                width: 60px;
                height: 60px;
                background: url('../assets/cart.svg') no-repeat center;
                background-size: 60%;
            }

            &:after {
                content: attr(data-count);
                position: absolute;
                bottom: 0;
                right: 0;
                height: 18px;
                min-width: 14px;
                padding: 0 2px;
                font-size: 13px;
                color: #fff;
                line-height: 1.3;
                text-align: center;
                background-color: #ff0000;
            }
        }

        .language {
            width: 60px;
            height: 60px;
            justify-content: center;
        }
    }

    li {
        display: inline-block;
        margin-right: 10px;
        text-transform: uppercase;
        color: #7d7c7a;
    }
}

.logo {
    height: 33.34%;
    margin: 0 20px;
}