.toggle-hide,
.toggle-show {
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

.toggle-hide {
    opacity: 0;
}

.toggle-show {
    opacity: 1;
}

.custom-action .reveal.paused .pause-overlay {
    visibility: hidden;
    opacity: 0;
}

.reveal span.element-log {
    font-style: italic;
}

.reveal .header-keyword {
    color: #ffa000;
    text-transform: lowercase;
    font-weight: 700;
    letter-spacing: 5px;
}

.reveal .compare-table td {
    text-align: center;
}

.reveal .compare-table pre {
    width: auto;
}

.reveal .compare-table pre code {
    white-space: nowrap;
}

.reveal ul.breadcrumb {
    position: absolute;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    font-size: 0;
    left: 51%;
}

.reveal ul.breadcrumb .selector {
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    width: 50px;
    padding: 5px 0;
    transform: translateY(-7px);
}
.reveal ul.breadcrumb .selector:before,
.reveal ul.breadcrumb .selector:after {
    transition: left 500ms ease-in-out;
}
.reveal ul.breadcrumb .selector:before {
    left: -.5em;
}
.reveal ul.breadcrumb .selector:after {
    left: .5em;
}

.reveal ul.breadcrumb .selector:before,
.reveal ul.breadcrumb .selector:after {
    content: '';
    position: absolute;
    top: 0;
    border: 2px solid #e7ad52;
    height: 100%;
    width: 20px;
}

.reveal ul.breadcrumb .selector:before {
    border-right-width: 0;
}

.reveal ul.breadcrumb .selector:after {
    border-left-width: 0;
}


.reveal ul.breadcrumb li.first {
    transition-property: margin-left, transform, color;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
}

.reveal ul.breadcrumb li {
    display: inline-block;
    font-size: 36px;
    margin-right: 15px;
    transition-property: transform, color;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
}

.reveal ul.breadcrumb li.future,
.reveal ul.breadcrumb li.past {
    transform: scale(.4);
}

.reveal ul.breadcrumb li.past {
    color: #8f8f8f;
}

.reveal ul.breadcrumb li.future {
    color: #0d99a5;
}

.var,
.let,
.const {
    transition-property: color, transform;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    display: inline-block;
}

.var.inactive,
.let.inactive,
.const.inactive {
    color: #c27c00;
    transform: scale(.7);
}

.past .var.inactive,
.past .let.inactive,
.past .const.inactive {
    color: inherit;
}

.lets-code {
    width: 70%;
}