.toggle-hide,
.toggle-show {
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

.toggle-hide {
    opacity: 0;
}

.toggle-show {
    opacity: 1;
}

.custom-action .reveal.paused .pause-overlay {
    visibility: hidden;
    opacity: 0;
}

.reveal span.element-log {
    font-style: italic;
}

.reveal .header-keyword {
    color: #ffa000;
    text-transform: lowercase;
    font-weight: 700;
    letter-spacing: 5px;
}

.reveal .compare-table td {
    text-align: center;
}

.reveal .compare-table pre {
    width: auto;
}

.reveal .compare-table pre code {
    white-space: nowrap;
}

.reveal ul.breadcrumb {
    position: absolute;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    font-size: 0;
    left: 51%;
}

.reveal ul.breadcrumb .selector {
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    width: 50px;
    padding: 5px 0;
    transform: translateY(-7px);
}
.reveal ul.breadcrumb .selector:before,
.reveal ul.breadcrumb .selector:after {
    transition: left 500ms ease-in-out;
}
.reveal ul.breadcrumb .selector:before {
    left: -.5em;
}
.reveal ul.breadcrumb .selector:after {
    left: .5em;
}

.reveal ul.breadcrumb .selector:before,
.reveal ul.breadcrumb .selector:after {
    content: '';
    position: absolute;
    top: 0;
    border: 2px solid #e7ad52;
    height: 100%;
    width: 20px;
}

.reveal ul.breadcrumb .selector:before {
    border-right-width: 0;
}

.reveal ul.breadcrumb .selector:after {
    border-left-width: 0;
}


.reveal ul.breadcrumb li.first {
    transition-property: margin-left, transform, color;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
}

.reveal ul.breadcrumb li {
    display: inline-block;
    font-size: 36px;
    margin-right: 15px;
    transition-property: transform, color;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
}

.reveal ul.breadcrumb li.future,
.reveal ul.breadcrumb li.past {
    transform: scale(.4);
}

.reveal ul.breadcrumb li.past {
    color: #8f8f8f;
}

.reveal ul.breadcrumb li.future {
    color: #0d99a5;
}

.var,
.let,
.const,
.header-keyword {
    transition-property: color, transform;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    display: inline-block;
}

.var.inactive,
.let.inactive,
.header-keyword.inactive,
.const.inactive {
    color: #c27c00;
    transform: scale(.7);
}

.past .var.inactive,
.past .let.inactive,
.past .header-keyword,
.past .const.inactive,
.future .header-keyword {
    color: inherit;
}

.lets-code {
    width: 70%;
}

.section-header {
    transform: translateY(100%);
}

.type-with-value {
    color: #0d99a5;
}

.type-without-value {
    color: #c72e2e;
}

.type-es6 {
    position: relative;
}

.slide-es6 {
    background-image: url('../assets/es6.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 2em;
}

.type-es6:before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    background-image: url('../assets/es6.png');
    background-size: contain;
    transform: translate(-25%, -10%);
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
}

.reveal div.warning-message {
    text-align: justify;
    font-size: 0.8em;
}

.reveal span.keyword {
    color: #ffa000;
    font-weight: 700;
    letter-spacing: 3px;
}

.reveal span.bold {
    font-weight: 800;
}

.reveal a.source {
    display: inline-block;
    bottom: 0;
    font-size: 15px;
    width: 100%;
    overflow: hidden;
    text-align: left;
}

.reveal a.source:before {
    content: attr(href);
}

.extend-args,
.args-bindArgs,
.args-args {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    top: 5px;
    transition: max-width 500ms ease-out;
}

.args-bindArgs,
.show-args .extend-args,
.show-args .args-args {
    max-width: 200px;
}

.show-args .args-bindArgs {
    max-width: 0;
    transition-delay: 600ms;
}

.hide-args .args-bindArgs {
    transition-delay: 700ms;
}

.extend-args {
    max-width: 0;
}

.hide-args .args-args {
    transition-delay: 300ms;
}

.args-args {
    transition-delay: 1200ms;
    max-width:0
}

